*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
#root{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color:gray;
}
.hero_page{
  background-image: url('../Homepod.png');
  background-position: center;
  background-size: 
  cover;width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero_page p{
  font-weight: bold; 
  color:white;
}
.hero_page button{
  background-color: blue;
  border-radius: 9px;
  width: auto;
  height: auto;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.hero_page button:hover{
  background-color: white;
  border: 2px solid blue;
  color: black;
  
}